
/* herosection css */
.costum-heroSection{
  background-image: url("./assets/laptop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* view detail css */
.key-specs {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
  margin-top: 1rem;
}

.key-specs .d-flex {
  align-items: start;
  background-color: #f8f9fa;
  padding: 0.5rem;
  border-radius: 8px;
}

.key-specs .d-flex span {
  display: flex;
  flex-direction: column;
}

.key-specs .d-flex span span {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.key-specs .d-flex span p {
  margin: 0;
  font-size: 0.85rem;
  color: #666;
}

.key-specs svg {
  font-size: 1.5rem;
  color: #007bff; 
}

/* WhatsApp Button css */
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.whatsapp-button {
  position: fixed;
  bottom: 0.6rem;
  right: 20px;
  background-color: #25D366;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 1000;
  animation: float 1s ease-in-out infinite;

}

.whatsapp-button:hover {
  transform: scale(1.05);
  background-color: #1ebc59;
}
